.header{
  background-color: slategray;
  /* width: 1292px; */
  width: 1843px
}

body{ 
  background-color: lightgray;
} 

.images_left{
  float:left;
  margin-left:15px;
  margin-top:12px;
}

.images_right{
  float:right;
  margin-top: 16px;
}

a{
  margin-right: 30px;
}

.images_left a:nth-child(2)
{
    margin-left:50px;
}

.images_right a:nth-child(1)
{
    margin-right:20px;
}

.images_right a:nth-child(2)
{
    margin-right:20px;
}

.images_right a:nth-child(3)
{
    margin-right:20px;
}

.title{
  margin-top:0.5cm;
  margin-left:15px;
  font-family: Lato;
}

.all_rectangles
{
  margin-top: 1.5rem;
  font-family: Quicksand;
  color:white;
  text-transform: uppercase;
  margin-left:15px;
}

.section1{
  display:inline-block;
}

.section2{
  display:inline-block;
  margin-top: 5px;
}

.all_rectangles .content p {
  margin-left: 5px;
  margin-top: 5px;
}

.rectangle1{
  background-color:#FEC006;
  float: left;
  width:375px;
  height:90px;
  margin-right: 100px;
}

.rectangle1 .content p:nth-child(1) .rectangle2 .content p:nth-child(1) 
{
    font-family:Quicksand;
    font-size:16px;
}

.rectangle1 .content p:nth-child(2) .rectangle2 .content p:nth-child(2)
{
    font-family:Quicksand;
    font-size:30px;
}

.rectangle_img img
{
    text-align: center;
    float:right;
    margin-top: 22px;
    margin-right: 18px;
}

.content{
  font-family: Quicksand;
  float:left;
}

.rectangle1 p:nth-child(2)
{
  margin-top:10px;
  clear: left;
}

.rectangle2{
  background-color:#E81D62;
  float:left;
  width:375px;
  height:90px;
  margin-right: 100px;
}

.rectangle3{
  background-color:#8AC249;
  float:left;
  width:375px;
  height:90px;
  margin-right: 100px;
}

.rectangle4{
  background-color:#2095F2;
  float:left;
  width:380px;
  height:90px;
}

.all_squares{
  margin-left: 15px;
  margin-top: 15px;
  font-family: Quicksand;
  text-transform: uppercase;
}

.square1{
  width:375px;
  height:210px;
  background-color: white;
  margin-right: 100px;
  float: left;
}

.dot
{
  height: 100px;
  width: 100px;
  background-color: antiquewhite;
  border-radius: 50%;
  float: left;
  margin-left: 135px;
  margin-top: 20px;
  text-align: center;
}

.dot p:nth-child(1)
{
  margin-top: 25px;
  font-size: 24;
}

.square1 .dot{
  box-shadow: 0 0 0 10px #e78267;
}

.square2{
  width:375px;
  height:210px;
  background-color: white;
  margin-right: 100px;
  float: left;
}

.square2 .dot{
  box-shadow: 0 0 0 10px #FEC006;
}

.square3{
  width:375px;
  height:210px;
  background-color: white;
  margin-right: 100px;
  float: left;
}

.square3 .dot{
  box-shadow: 0 0 0 10px paleturquoise;
}

.square4{
  width:380px;
  height:210px;
  background-color: white;
  float: left;
}

.square4 .dot{
  box-shadow: 0 0 0 10px paleturquoise;
}

.bottom_content{
    text-transform: uppercase;
}

.text ul{
  display: flex;
  justify-content: space-between;
}

.line{
  border: 1px solid gainsboro;
  margin-top: 140px;
}

.bottom_content p:nth-child(1){
    text-align: center;
    margin-top: 25px;
}

.bottom_content p:nth-child(2){
  text-align: right;
}

.section3{
  display: inline;
  margin-left: 15px;
  margin-top: 30px;
}

.big_rectangle_1{
  background-color: white;
  height: 1px;
  width: 1px;
}

.progress_bar{
  background-color: white;
  border-radius: 50px;
  margin-right: 10px;
}

.filled_progress_bar{
  background-color: rgb(116, 194, 92);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
  width:30%;
}

.outer_div{
  display:flex;
  flex-direction:column;
}

.section4{
  display: inline;
  margin-left: 15px;
  margin-top: 30px;
}

.left_rectangle{
  background-color: white;
  width:850px;
  height:280px;
  margin-top: 10px;
  float:left;
}

.right_rectangle{
  background-color: white;
  float: right;
  width:860px;
  height:280px;
  margin-top: 10px;
  margin-right: 15px;
}

.section5{
  margin-top:40px;
  background-color:slategray;
}